<template>
	<div>
  		<b-jumbotron class='box'>
		<h1>Vývojářská dokumentace</h1>
			<div>
				<b-row>
					<b-col>
    					<b-button-group>
							<b-button><router-link to='/vyvojar/instalace'  class='routerbutton'>Instalace</router-link></b-button>
							<div class='dropdiv'>
								<b-dropdown id="ddown1" text="Vývoj">
								    <b-dropdown-item><router-link to='/vyvojar/html' class='routerbuttondown'>HTML</router-link></b-dropdown-item>
								    <b-dropdown-item><router-link to='/vyvojar/import' class='routerbuttondown'>Import</router-link></b-dropdown-item>
								    <b-dropdown-item><router-link to='/vyvojar/vue' class='routerbuttondown'>Vue</router-link></b-dropdown-item>
								    <b-dropdown-item><router-link to='/vyvojar/css' class='routerbuttondown'>CSS</router-link></b-dropdown-item>
								</b-dropdown>
							</div>
							<b-button><router-link to='/vyvojar/zverejnenikomponentu' class='routerbutton'>Zveřejnění vašeho komponentu</router-link></b-button>
							<b-button><router-link to='/vyvojar/faq' class='routerbutton'>FAQ</router-link></b-button>
						</b-button-group>					
					</b-col>
				</b-row>
				<b-row>
					<b-col cols="12" sm='12' md='10' lg='9' xl='8'>
						<router-view/>
					</b-col>
				</b-row>
			</div>
		</b-jumbotron>
	</div>	
</template>

<style>
	button {
		margin-bottom: 5px;
		color: black;
	}
	.dropdown-toggle {
		color: black;
	}
	.routerbutton {
		color: black;
	}
	.routerbuttondown {
		color: black;
	}
	#ddown1 {
		color: black;
		font-size: 12px;
	}
</style>