<template>
	<div>
		<b-jumbotron class="box">
			<h1>Home</h1>
			<div class="innerbody">
				<p>						
					Toto je stránka o mém maturitním projektu.<br>
					Computatis je webová aplikace, která umožňuje uživateli procvičovat si matematiku.
					Obsahuje několik příkladů, které jsou děleny do kategorií podle jevu, na
					který se zaměřují. Každá otázka má odpověď, která lze jednoduše zapsat, aby
					se také jednoduše dala zkontrolovat, což aplikace také ovládá. Po potvrzení
					odeslání výsledku se uživatel dozví, zda je výsledek správný, či chybný.<br>
				</p>
				<h2>Důležité odkazy:</h2>
				<ul>
					<li><router-link to='/uzivatel' class='linkintext'>Uživatelská dokumentace</router-link></li>
					<li><router-link to='/vyvojar' class='linkintext'>Vývojářská dokumentace</router-link></li>
					<li><a href='https://gitlab.com/kubajj/computatis' target='_blank' class='linkintext'>Repozitář na GitLabu</a></li>
					<li><a href='https://github.com/kubajj/computatis' target='_blank' class='linkintext'>Repozitář na GitHubu</a></li>
					<li><a href='https://kubajj.gitlab.io/computatis' target='_blank' class='linkintext'>Demo</a></li>
					<li><a href='https://kubajj.gitlab.io/aboutcomputatis/website/components.html#/' target='_blank' class='linkintext'>Referenční dokumentace</a></li>
				</ul>
			</div>
		</b-jumbotron>
	</div>
</template>