<template>
	<div>
		<b-jumbotron class="box">
			<h1>Uživatelská dokumentace</h1>
			<div class="innerbody">
				<p>Toto je návod k použití aplikace Computatis na procvičování matematiky.</p>
				<p>
					V aplikaci je několik okruhů, ve kterých si můžete zvolit příklad k procvičování, který se vám bude náhodně generovat.
					Výběr okruhů se provádí pomocí tlačítek, které rozbalují seznam možných příkladů.
				</p>
				<div class='dropdiv'>
					<b-dropdown size="lg" id="ddown1" text="Rovnice">
					    <b-dropdown-item><router-link to='/uzivatel' class='routerbutton' id='priklad'>Lineární rovnice</router-link></b-dropdown-item>
					    <b-dropdown-item><router-link to='/uzivatel' class='routerbutton'>Kvadratické rovnice</router-link></b-dropdown-item>
					    <b-dropdown-divider></b-dropdown-divider>
					</b-dropdown>
				</div>
				<b-tooltip target="ddown1" title="Takto vypadá rozbalovací tlačítka s výběrem příkladů."></b-tooltip>
				<b-tooltip target="priklad" title="Takto vypadají jednotlivé odkazy na příklady."></b-tooltip>
				<p>
					Tato tlačítka se nacházejí v levé části tohoto bílého boxu.
				</p>
				<img src="doc-images/WhiteBox.png" style="width: 80%" />
				<p>V pravé části se vám zobrazují zvolené příklady. Úplně vpravo můžete zadat výsledek do formuláře.</p>
				<p>
					Příklady se generují náhodně, ale jejich výsledek je vždy jednoznačný. Většinou je celočíselný (s výjimkou příkladu "Lineární rovnice", kde je povolen i výsledek končící na .5 a .25) nebo slovní. Po potvrzení výsledku buď klávesou "Enter", nebo tlačítkem vedle formuláře na výsledek, se vám zobrazí zpráva, zda je váš výsledek správný a v případě, že tomu tak není, se vám zobrazí i správná odpověď.
				</p>
				<p>Zde si můžete vyzkoušet fungování formuláře na výsledky. Odpověď je 42.</p>
				<b-row>
				    <b-col cols="10" sm="10" md="8" lg="6" xl="4">
						<b-form-input
			                type="text"
			                placeholder="Zadejte číslo 42"
			                v-model="usersResult"
			                @keyup.native.enter='check'
			                id="inputForm"
			                style='margin: 5px 0px 5px 0px;'>                   	
					    </b-form-input>
					    <b-tooltip target="inputForm" title="Sem zadejte svůj výsledek"></b-tooltip>
				    </b-col>
			        <b-col cols="2" sm="2" md="2" lg="1" xl="1">
			        	<b-button id='submitButton' @click="check">✔</b-button>
			        	<b-tooltip target="submitButton" title="Tímto tlačítkem potvrďte odeslání svého výsledku"></b-tooltip>
			        </b-col>
			    </b-row>
		        <b-alert v-if="checked == 'right'" show variant="success">Správně <b-button @click='check' class='right' style='background-color:#a20c16;border: none;color:white;'><strong>></strong></b-button></b-alert>
	    		<b-alert v-else-if="checked == 'wrong'" show variant="danger">Špatně. Správný výsledek je {{ result }}. <b-button @click='check' class='wrong' style='background-color:#a20c16;border: none;color:white;'><strong>></strong></b-button></b-alert>
				<p>
					Pokud si nejste jist/a s postupem řešení, je možné kliknout na tlačítko nápovědy. Nápovědy se od sebe liší. Některé zobrazí část postupu, jiné zobrazí formulář, který má červený okraj. Tento okraj zezelená, pokud je váš mezivýsledek správný (tento typ můžete najít například v příkladu "<a href='https://kubajj.gitlab.io/computatis/#/procvicovani/nasobeni' target="_blank" class='linkintext'>Násobení</a>").
				</p>
				<img src="doc-images/input1.png" id='prazdny' style='width: 15%;'/><img src="doc-images/sipka.png" style='width: 15%;'/><img src="doc-images/input2.png" id='plny' style='width: 15%;'/>				
	        	<b-tooltip target="prazdny" title="Zde můžete vidět stav před vyplněním formulářů správnými čísly."></b-tooltip>
	        	<b-tooltip target="plny" title="Zde můžete vidět stav se správně vyplněnými výsledky."></b-tooltip>
	        	<p>V dolní levé části bílého boxu se nacházejí tlačítka <b-button id='zpet'><strong><</strong> Zpět</b-button> a <b-button id='dalsi'>Další <strong>></strong></b-button></p>				
	        	<b-tooltip target="zpet" title="Tlačítko zpět je odkaz na úvodní stránku sekce procvičování."></b-tooltip>
	        	<b-tooltip target="dalsi" title="Tlačítko další vygeneruje jiné zadání příkladu."></b-tooltip>	
	        	<h2>Nápovědy a funkce</h2>
				Tato část dokumentace popisuje nápovědy a funkce jednotlivých příkladů.
				<h3>
				Nápovědy v příkladu Kvadratická rovnice
				</h3>
				První nápověda vám ukáže rovnici upravenou do obvyklého tvaru: ax<sup>2</sup> + bx + c = 0.<br> <img src="doc-images/zakladnitvar.png" title="Základní tvar" alt="Zakladni tvar" /><br> Další nápovědy se liší v závislosti na tom, jak rovnice vyšla.<br> a) Diskriminant<br> Tyto nápovědy se zobrazí, pokud základní tvar rovnice má všechny 3 členy (a, b, c).<br> <img src="doc-images/zakladnitvar.png" title="Základní tvar" alt="Zakladni tvar" /><br> Následuje ukázání vzorce pro diskriminant.<br> <img src="doc-images/diskriminant1.png" title="Diskriminant" alt="Diskriminant" /><br> Po stlačení tlačítka OK se zobrazí vzorec pro diskriminant s formuláři, které kontrolují mezivýpočty.<br> <img src="doc-images/diskriminant2.png" title="Diskriminant s formuláři" alt="Diskriminantsformulari" /><br> Pokud jsou správně vyplněny, okraj jim zezelená.<br> <img src="doc-images/diskriminant3.png" title="Diskriminant se zeleným okrajem" alt="Diskriminantzeleny" /><br> Poté stačí jen upravit zlomek a zapsat výsledky.<br><br> b) Rozklad<br> Tyto nápovědy se zobrazí, pokud základní tvar rovnice nemá absolutní člen.<br> <img src="doc-images/rozklad1.png" title="Základní tvar u rozkladu" alt="Zakladnitvarrozklad" /><br> Tento typ nápovědy vytkne x před závorku. Jeden výsledek bude tedy 0 a druhý vyjde, pokud je hodnota závorky rovna 0.<br> <img src="doc-images/rozklad2.png" title="Rozklad" alt="Rozklad" /><br><br> c) Odmocnění<br> Tyto nápovědy se zobrazí, pokud základní tvar rovnice nemá lineární člen.<br> <img src="doc-images/odmocneni1.png" title="Základní tvar u odmocnění" alt="Zakladnitvarodmocneni" /><br> Tento typ nápovědy převede absolutní člen na druhou stranu rovnice. Výsledek vyjde po odmocnění absolutního členu (výsledky budou 2 s opačným znaménkem).<br> <img src="doc-images/odmocneni2.png" title="Odmocnění" alt="Odmocneni" /><br>
				<h3>
				Sčítání a odčítání do 100
				</h3>
				Zobrazuje jednoduché výsledky na sčítání a odčítání do 100. Mezivýpočty by také neměly vycházet větší než 100.<br> Nápovědy u tohoto příkladu vzhledem k jeho povaze nejsou implementovány.<br>
				<h3>
				Násobení pod sebou
				</h3>
				Příklad na násobení trojciferného čísla dvojciferným.<br> Po stlačení nápisu “Chci násobit pod sebou” se zobrazí formuláře s červeným okrajem. Po zapsání odpovídajícího čísla okraj zezelená.<br> <img src="doc-images/multiblank.png" title="Prázdné a červené" alt="Prazdne" /><br> Pokud uživatel vyplnil poslední řádek formulářů správně, je to považováno za výsledek a může postoupit k dalšímu příkladu.<br> <img src="doc-images/multifull.png" title="Plné a zelené" alt="Plne" /><br>
				<h3>
				Lineární rovnice
				</h3>
				Zobrazí lineární rovnici. Po stisknutí tlačítka nápovědy jsou všechny lineární členy převedeny vlevo a absolutní vpravo. Uživatel už pouze udělá podíl dvou čísel, která vycházejí buď jako celé číslo nebo zlomek s číslem 2 nebo 4 ve jmenovateli.<br>
				<h3>
				Adresy v paměti
				</h3>
				Tento příklad generuje náhodných 24 bajtů paměti. Uživatel je musí analyzovat a splnit postupně 3 úkoly, které se vážou k jedné tabulce.<br> a) dvojkový doplněk<br> b) znaménkové rozšíření na daný počet bitů<br> c) určení endianity<br> Nápovědy u tohoto příkladu červeně zvýrazňují adresy, kterých se zadání týká.<br>
				<h3>
				Převod mezi soustavami
				</h3>
				<p>Příklad zadává jednoduché převody mezi soustavami (2;10;16).<br> Uživatel může stlačit tlačítko nápovědy, které nejdříve slovně popíše postup, jak číslo převést.<br> <img src="doc-images/slovni.png" title="Slovní nápověda" alt="Slovni" /><br> Po opětovném kliknutí na tlačítko se ukáže formulář, který proces převodu rozdělí do jednotlivých<br> kroků s kontrolou mezivýsledků.<br> <img src="doc-images/formularova.png" title="Nápověda s formuláři" alt="Formulare" /><br></p>        	
			</div>
		</b-jumbotron>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {			
			return {
				result: 42,
				usersResult: '',
				checked: '',
			}
		},
		methods: {	
			check() {		
				if (this.usersResult == this.result) {//checks if the user result (inserted to input) is right
					this.checked = 'right';
				} else {
					this.checked = 'wrong';
				}
			}	
		}
	}
</script>

<style scoped>
	#num {
		margin-bottom: 0px !important;
		font-size: 20px;
		font-family: monospace;
	}
	.multi {
		text-decoration: underline;
	}
	.inputWithBorderSmall {
		max-height: 24px;
		max-width: 12px !important;
		padding: 0 0 0 0;
		display: inline !important;
	}
	.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
		background-image: none !important;
		background: none !important;	
		padding: 0 0 0 0;	
	}
</style>