<template>
<div>
<h2 id="css">CSS</h2>
<p>Pro úpravu vzhledu se nepoužívají žádné externí soubory.<br />
Použijte kaskádové styly mezi značkami <code>&lt;style&gt;</code> a <code>&lt;/style&gt;</code>.</p>
<b-button><router-link to='/vyvojar/vue' class='routerbutton'>Vue</router-link></b-button>				
<b-button><router-link to='/vyvojar/zverejnenikomponentu' class='routerbutton'>Zveřejnění komponentu</router-link></b-button>		
</div>
</template>