<template>
<div>
<h2 id="vyvoj">Vývoj</h2>
<p>Aplikace je psána ve Vue.js. Předpokladem pro úspěšný vývoj rozšíření je ale pouze znalost javascriptu a HTML.</p>
<p><a href="https://vuejs.org/v2/guide/" target="_blank"  class='linkintext'>Vue</a> <a href="https://www.w3schools.com/js/" target="_blank"  class='linkintext'>JS</a> <a href="https://www.w3schools.com/html/" target="_blank"  class='linkintext'>HTML</a></p>
<p>Jděte na <a href="https://github.com/kubajj/ComputatisDevelopmentProject" target="_blank"  class='linkintext'>Computatis Development Project</a>, kde naleznete projekt pro snazší vývoj.</p>
<p>Aplikace je rozdělena na několik vrstev. Nejdůležitější je nejnižší vrstva, která se nachází ve složce PracContentFiles, kde se nacházejí jednotlivé složky s příklady. Úkolem vývojáře je nezasahovat do ničeho jiného, než do jednotlivých komponentů nebo složek s komponenty (můžete si vytvořit vaši vlastní).</p>
<p>Toto je příklad jednoho z hotových příkladů.</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb2-1" title="1"><span class="kw">&lt;template&gt;</span></a>
<a class="sourceLine" id="cb2-2" title="2">    <span class="kw">&lt;div&gt;</span></a>
<a class="sourceLine" id="cb2-3" title="3">        <span class="kw">&lt;heading</span><span class="ot"> head=</span><span class="st">&#39;Lineární rovnice&#39;</span><span class="kw">&gt;&lt;/heading&gt;</span></a>
<a class="sourceLine" id="cb2-4" title="4">        <span class="kw">&lt;b-row&gt;</span></a>
<a class="sourceLine" id="cb2-5" title="5">            <span class="kw">&lt;b-col</span><span class="ot"> cols=</span><span class="st">&#39;8&#39;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-6" title="6">                <span class="kw">&lt;vue-mathjax</span><span class="ot"> :formula=</span><span class="st">&quot;task&quot;</span><span class="kw">/&gt;</span> <span class="co">&lt;!-- tato značka umožňuje zobrazit uživateli </span></a>
<a class="sourceLine" id="cb2-7" title="7"><span class="co">                zadání v Latexu --&gt;</span></a>
<a class="sourceLine" id="cb2-8" title="8">            <span class="kw">&lt;/b-col&gt;</span></a>
<a class="sourceLine" id="cb2-9" title="9">        <span class="kw">&lt;/b-row&gt;</span></a>
<a class="sourceLine" id="cb2-10" title="10">        <span class="kw">&lt;b-row&gt;</span><span class="er">&amp;</span>nbsp<span class="kw">&lt;/b-row&gt;</span></a>
<a class="sourceLine" id="cb2-11" title="11">        <span class="kw">&lt;b-row&gt;</span></a>
<a class="sourceLine" id="cb2-12" title="12">            <span class="kw">&lt;b-col</span><span class="ot"> cols=</span><span class="st">&#39;8&#39;</span><span class="kw">&gt;</span><span class="co">&lt;!-- následující značka ukáže tlačítko pro spuštění nápovědy </span></a>
<a class="sourceLine" id="cb2-13" title="13"><span class="co">            a popíše jeho funkci --&gt;</span></a>
<a class="sourceLine" id="cb2-14" title="14">                <span class="kw">&lt;span</span><span class="ot"> v-if=</span><span class="st">&#39;!hinted&#39;</span> <span class="er">@click</span><span class="ot">=</span><span class="st">&#39;hint&#39;</span><span class="ot"> class=</span><span class="st">&#39;hintstyle&#39;</span><span class="kw">&gt;</span>Nápovědu prosím<span class="kw">&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb2-15" title="15">                <span class="kw">&lt;span</span><span class="ot"> v-else</span><span class="kw">&gt;&lt;vue-mathjax</span><span class="ot"> :formula=</span><span class="st">&quot;hintValue1&quot;</span><span class="kw">/&gt;&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb2-16" title="16">            <span class="kw">&lt;/b-col&gt;</span></a>
<a class="sourceLine" id="cb2-17" title="17">            <span class="kw">&lt;b-col</span><span class="ot"> cols=</span><span class="st">&quot;3&quot;</span><span class="kw">&gt;</span><span class="co">&lt;!--následující část vygeneruje formulář pro zapsání a kontrolu </span></a>
<a class="sourceLine" id="cb2-18" title="18"><span class="co">            výsledku --&gt;</span></a>
<a class="sourceLine" id="cb2-19" title="19">                <span class="kw">&lt;b-form-input</span></a>
<a class="sourceLine" id="cb2-20" title="20"><span class="ot">                        type=</span><span class="st">&quot;text&quot;</span></a>
<a class="sourceLine" id="cb2-21" title="21"><span class="ot">                        placeholder=</span><span class="st">&quot;Výsledek&quot;</span></a>
<a class="sourceLine" id="cb2-22" title="22"><span class="st">                        v-model=&quot;</span><span class="er">usersResult&quot;</span></a>
<a class="sourceLine" id="cb2-23" title="23">                        <span class="er">@keyup.native.enter</span><span class="ot">=</span><span class="st">&#39;check&#39;</span></a>
<a class="sourceLine" id="cb2-24" title="24"><span class="ot">                        id=</span><span class="st">&quot;inputForm&quot;</span><span class="kw">&gt;</span>                     </a>
<a class="sourceLine" id="cb2-25" title="25">                <span class="kw">&lt;/b-form-input&gt;</span></a>
<a class="sourceLine" id="cb2-26" title="26">            <span class="kw">&lt;/b-col&gt;</span></a>
<a class="sourceLine" id="cb2-27" title="27">            <span class="kw">&lt;b-col</span><span class="ot"> cols=</span><span class="st">&quot;1&quot;</span><span class="kw">&gt;</span><span class="co">&lt;!-- tato značka vygeneruje tlačítko pro potvrzení výsledku --&gt;</span></a>
<a class="sourceLine" id="cb2-28" title="28">                <span class="kw">&lt;b-button</span> <span class="er">@click</span><span class="ot">=</span><span class="st">&quot;check&quot;</span><span class="kw">&gt;</span>✔<span class="kw">&lt;/b-button&gt;</span></a>
<a class="sourceLine" id="cb2-29" title="29">            <span class="kw">&lt;/b-col&gt;</span></a>
<a class="sourceLine" id="cb2-30" title="30">        <span class="kw">&lt;/b-row&gt;</span>    </a>
<a class="sourceLine" id="cb2-31" title="31">        <span class="kw">&lt;ch-alerts</span><span class="ot"> :checked=</span><span class="st">&#39;checked&#39;</span><span class="ot"> :result=</span><span class="st">&#39;result&#39;</span><span class="kw">&gt;&lt;/ch-alerts&gt;</span><span class="co">&lt;!-- tato značka volá </span></a>
<a class="sourceLine" id="cb2-32" title="32"><span class="co">        ch-alerts komponent, </span></a>
<a class="sourceLine" id="cb2-33" title="33"><span class="co">        který buď uživateli oznámí chybu a ukáže správný výsledek, nebo ukáže hlášku: </span></a>
<a class="sourceLine" id="cb2-34" title="34"><span class="co">        &quot;Správně&quot; --&gt;</span></a>
<a class="sourceLine" id="cb2-35" title="35">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-36" title="36"><span class="kw">&lt;/template&gt;</span></a>
<a class="sourceLine" id="cb2-37" title="37"></a>
<a class="sourceLine" id="cb2-38" title="38"><span class="kw">&lt;script&gt;</span><span class="co">/*následující řádky uvádí, které komponenty se musí naimportovat, tyto komponenty </span></a>
<a class="sourceLine" id="cb2-39" title="39"><span class="co">        musí být upřesněny ještě v sekci components*/</span></a>
<a class="sourceLine" id="cb2-40" title="40">    <span class="im">import</span> <span class="op">{</span> bus <span class="op">}</span> <span class="im">from</span> <span class="st">&#39;./../../../main.js&#39;</span></a>
<a class="sourceLine" id="cb2-41" title="41">    <span class="im">import</span> <span class="op">{</span> VueMathjax <span class="op">}</span> <span class="im">from</span> <span class="st">&#39;vue-mathjax&#39;</span></a>
<a class="sourceLine" id="cb2-42" title="42">    <span class="im">import</span> Heading <span class="im">from</span> <span class="st">&#39;./../DevelopComponents/Heading.vue&#39;</span></a>
<a class="sourceLine" id="cb2-43" title="43">    <span class="im">import</span> CheckAlerts <span class="im">from</span> <span class="st">&#39;./../DevelopComponents/CheckAlerts.vue&#39;</span></a>
<a class="sourceLine" id="cb2-44" title="44"></a>
<a class="sourceLine" id="cb2-45" title="45">    <span class="im">export</span> <span class="im">default</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-46" title="46">        <span class="at">data</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb2-47" title="47">            <span class="cf">return</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-48" title="48">                <span class="dt">task</span><span class="op">:</span> <span class="st">&#39;&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb2-49" title="49">                <span class="dt">usersResult</span><span class="op">:</span> <span class="st">&#39;&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb2-50" title="50">                <span class="dt">checked</span><span class="op">:</span> <span class="st">&#39;&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb2-51" title="51">                <span class="dt">result</span><span class="op">:</span> <span class="st">&#39;&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb2-52" title="52">                <span class="dt">hinted</span><span class="op">:</span> <span class="kw">false</span><span class="op">,</span></a>
<a class="sourceLine" id="cb2-53" title="53">                <span class="dt">hintValue1</span><span class="op">:</span> <span class="st">&#39;&#39;</span><span class="op">,</span><span class="co">/*tato proměnná ukládá string, který je tvořen počtem </span></a>
<a class="sourceLine" id="cb2-54" title="54"><span class="co">                neznámých (x), znaménkem &quot;=&quot; a hodnotě, které daný počet neznámých </span></a>
<a class="sourceLine" id="cb2-55" title="55"><span class="co">                odpovídá*/</span></a>
<a class="sourceLine" id="cb2-56" title="56">            <span class="op">}</span></a>
<a class="sourceLine" id="cb2-57" title="57">        <span class="op">},</span> </a>
<a class="sourceLine" id="cb2-58" title="58">        <span class="dt">components</span><span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-59" title="59">            <span class="st">&#39;heading&#39;</span><span class="op">:</span> Heading<span class="op">,</span></a>
<a class="sourceLine" id="cb2-60" title="60">            <span class="st">&#39;ch-alerts&#39;</span><span class="op">:</span> CheckAlerts<span class="op">,</span></a>
<a class="sourceLine" id="cb2-61" title="61">        <span class="op">},</span></a>
<a class="sourceLine" id="cb2-62" title="62">        <span class="dt">methods</span><span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-63" title="63">            <span class="at">randomNumber</span>(min<span class="op">,</span> max) <span class="op">{</span> <span class="co">/*tato metoda generuje náhodné číslo (celé) z intervalu, </span></a>
<a class="sourceLine" id="cb2-64" title="64"><span class="co">                který je specifikován v závorkách*/</span></a>
<a class="sourceLine" id="cb2-65" title="65">                <span class="cf">return</span> <span class="va">Math</span>.<span class="at">floor</span>(<span class="va">Math</span>.<span class="at">random</span>() <span class="op">*</span> (max <span class="op">-</span> min <span class="op">+</span> <span class="dv">1</span>)) <span class="op">+</span> min<span class="op">;</span></a>
<a class="sourceLine" id="cb2-66" title="66">            <span class="op">},</span></a>
<a class="sourceLine" id="cb2-67" title="67">            <span class="at">sign</span>() <span class="op">{</span> <span class="co">/*tato metoda je schopna na požádání vrátit 1 nebo -1, usnadňuje tím </span></a>
<a class="sourceLine" id="cb2-68" title="68"><span class="co">                        prevenci toho, aby nebyly generovány proměnné s hodnotou 0*/</span></a>
<a class="sourceLine" id="cb2-69" title="69">                <span class="kw">var</span> arr <span class="op">=</span> [<span class="dv">1</span><span class="op">,</span> <span class="dv">-1</span>]<span class="op">;</span></a>
<a class="sourceLine" id="cb2-70" title="70">                <span class="kw">var</span> rnd <span class="op">=</span> <span class="kw">this</span>.<span class="at">randomNumber</span>(<span class="dv">0</span><span class="op">,</span><span class="dv">1</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb2-71" title="71">                <span class="cf">return</span> arr[rnd]<span class="op">;</span> <span class="co">//it returns 1 or -1</span></a>
<a class="sourceLine" id="cb2-72" title="72">            <span class="op">},</span></a>
<a class="sourceLine" id="cb2-73" title="73">            <span class="at">variants</span>() <span class="op">{</span> <span class="co">/*tato metoda rozhoduje, zda bude k následujícímu náhodnému číslu </span></a>
<a class="sourceLine" id="cb2-74" title="74"><span class="co">                            přiřazeno &#39;x&#39;, nebo ne*/</span></a>
<a class="sourceLine" id="cb2-75" title="75">                <span class="kw">var</span> arr <span class="op">=</span> [<span class="st">&#39;x&#39;</span><span class="op">,</span> <span class="st">&#39;n&#39;</span>]<span class="op">;</span></a>
<a class="sourceLine" id="cb2-76" title="76">                <span class="kw">var</span> rnd <span class="op">=</span> <span class="kw">this</span>.<span class="at">randomNumber</span>(<span class="dv">0</span><span class="op">,</span><span class="dv">1</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb2-77" title="77">                <span class="cf">return</span> arr[rnd]<span class="op">;</span></a>
<a class="sourceLine" id="cb2-78" title="78">            <span class="op">},</span></a>
<a class="sourceLine" id="cb2-79" title="79">            <span class="at">position</span>() <span class="op">{</span>    <span class="co">//b == před (anglicky =&gt; before) &quot;=&quot;, a == po &quot;=&quot; (anglicky =&gt; after)       </span></a>
<a class="sourceLine" id="cb2-80" title="80">                <span class="kw">var</span> arr <span class="op">=</span> [<span class="st">&#39;b&#39;</span><span class="op">,</span> <span class="st">&#39;a&#39;</span>]<span class="op">;</span></a>
<a class="sourceLine" id="cb2-81" title="81">                <span class="kw">var</span> rnd <span class="op">=</span> <span class="kw">this</span>.<span class="at">randomNumber</span>(<span class="dv">0</span><span class="op">,</span><span class="dv">1</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb2-82" title="82">                <span class="cf">return</span> arr[rnd]<span class="op">;</span></a>
<a class="sourceLine" id="cb2-83" title="83">            <span class="op">},</span></a>
<a class="sourceLine" id="cb2-84" title="84">            <span class="at">resetAll</span>() <span class="op">{</span> <span class="co">/*tato metoda změní hodnotu proměnných, které před každým zavoláním </span></a>
<a class="sourceLine" id="cb2-85" title="85"><span class="co">                metody genTask musí mít původní hodnotu, na hodnotu, která je jim přidělena </span></a>
<a class="sourceLine" id="cb2-86" title="86"><span class="co">                v sekci data*/</span></a>
<a class="sourceLine" id="cb2-87" title="87">                <span class="kw">this</span>.<span class="at">checked</span> <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-88" title="88">                <span class="kw">this</span>.<span class="at">usersResult</span> <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span>              </a>
<a class="sourceLine" id="cb2-89" title="89">                <span class="kw">this</span>.<span class="at">task</span> <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-90" title="90">                <span class="kw">this</span>.<span class="at">result</span> <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-91" title="91">                <span class="kw">this</span>.<span class="at">hinted</span> <span class="op">=</span> <span class="kw">false</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-92" title="92">            <span class="op">},</span></a>
<a class="sourceLine" id="cb2-93" title="93">            <span class="at">hint</span>() <span class="op">{</span> <span class="co">//ukáže nápovědu</span></a>
<a class="sourceLine" id="cb2-94" title="94">                <span class="kw">this</span>.<span class="at">hinted</span> <span class="op">=</span> <span class="kw">true</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-95" title="95">            <span class="op">},</span></a>
<a class="sourceLine" id="cb2-96" title="96">            <span class="at">genTask</span>() <span class="op">{</span> <span class="co">//tato metoda generuje zadání</span></a>
<a class="sourceLine" id="cb2-97" title="97">                <span class="kw">this</span>.<span class="at">resetAll</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb2-98" title="98">                <span class="kw">var</span> quantity <span class="op">=</span> <span class="kw">this</span>.<span class="at">randomNumber</span>(<span class="dv">1</span><span class="op">,</span> <span class="dv">5</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb2-99" title="99">                <span class="kw">var</span> rationalResult <span class="op">=</span> <span class="kw">false</span><span class="op">;</span> <span class="co">/*výsledek musí být číslo, které lze zapsat </span></a>
<a class="sourceLine" id="cb2-100" title="100"><span class="co">                zlomkem, který má ve jmenovateli čísla: 1, 2, 4 -&gt; usnadňuje zadávání </span></a>
<a class="sourceLine" id="cb2-101" title="101"><span class="co">                výsledků uživatelem do formuláře*/</span></a>
<a class="sourceLine" id="cb2-102" title="102">                <span class="cf">while</span> (<span class="op">!</span>rationalResult) <span class="op">{</span> <span class="co">/*pokud výsledek neodpovídá výše zmíněné podmínce, </span></a>
<a class="sourceLine" id="cb2-103" title="103"><span class="co">                    je vygenerována nová rovnice*/</span></a>
<a class="sourceLine" id="cb2-104" title="104">                    <span class="kw">var</span> xs <span class="op">=</span> <span class="kw">this</span>.<span class="at">randomNumber</span>(<span class="dv">1</span><span class="op">,</span> <span class="dv">50</span>)<span class="op">*</span><span class="kw">this</span>.<span class="at">sign</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb2-105" title="105">                    <span class="kw">var</span> firstx <span class="op">=</span> <span class="kw">this</span>.<span class="at">controlX</span>(xs)<span class="op">;</span></a>
<a class="sourceLine" id="cb2-106" title="106">                    <span class="kw">var</span> firstnum <span class="op">=</span> <span class="kw">this</span>.<span class="at">randomNumber</span>(<span class="dv">1</span><span class="op">,</span> <span class="dv">50</span>)<span class="op">*</span><span class="kw">this</span>.<span class="at">sign</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb2-107" title="107">                    <span class="kw">var</span> tmpstringb <span class="op">=</span> <span class="st">&#39;$$&#39;</span> <span class="op">+</span> firstx <span class="op">+</span> <span class="st">&#39;x&#39;</span><span class="op">;</span> </a>
<a class="sourceLine" id="cb2-108" title="108">                    <span class="kw">var</span> tmpstringa <span class="op">=</span> <span class="st">&#39;=&#39;</span> <span class="op">+</span> firstnum<span class="op">;</span></a>
<a class="sourceLine" id="cb2-109" title="109">                    <span class="kw">var</span> numbers <span class="op">=</span> firstnum<span class="op">;</span></a>
<a class="sourceLine" id="cb2-110" title="110">                    <span class="cf">for</span> (<span class="kw">let</span> i <span class="op">=</span> <span class="dv">1</span><span class="op">;</span> i <span class="op">&lt;</span> quantity<span class="op">;</span> i<span class="op">++</span>) <span class="op">{</span> <span class="co">/*generuje náhodná čísla </span></a>
<a class="sourceLine" id="cb2-111" title="111"><span class="co">                        a přidává je do dočasných (tmp) stringů*/</span></a>
<a class="sourceLine" id="cb2-112" title="112">                        <span class="kw">var</span> tmpnumber <span class="op">=</span> <span class="kw">this</span>.<span class="at">randomNumber</span>(<span class="dv">1</span><span class="op">,</span> <span class="dv">50</span>)<span class="op">*</span><span class="kw">this</span>.<span class="at">sign</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb2-113" title="113">                        <span class="kw">var</span> tmpvalue <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-114" title="114">                        <span class="kw">var</span> variant <span class="op">=</span> <span class="kw">this</span>.<span class="at">variants</span>()</a>
<a class="sourceLine" id="cb2-115" title="115">                        <span class="cf">if</span> (variant <span class="op">==</span> <span class="st">&#39;x&#39;</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-116" title="116">                            <span class="kw">var</span> currentX <span class="op">=</span> <span class="kw">this</span>.<span class="at">controlX</span>(tmpnumber)<span class="op">;</span></a>
<a class="sourceLine" id="cb2-117" title="117">                            <span class="cf">if</span> (tmpnumber <span class="op">&lt;</span> <span class="dv">0</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-118" title="118">                                tmpvalue <span class="op">+=</span> tmpnumber <span class="op">+</span> <span class="st">&#39;x&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-119" title="119">                            <span class="op">}</span> <span class="cf">else</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-120" title="120">                                tmpvalue <span class="op">+=</span> <span class="st">&#39;+&#39;</span> <span class="op">+</span> tmpnumber <span class="op">+</span> <span class="st">&#39;x&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-121" title="121">                            <span class="op">}</span></a>
<a class="sourceLine" id="cb2-122" title="122">                        <span class="op">}</span> <span class="cf">else</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-123" title="123">                            <span class="cf">if</span> (tmpnumber <span class="op">&lt;</span> <span class="dv">0</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-124" title="124">                                tmpvalue <span class="op">+=</span> tmpnumber<span class="op">;</span></a>
<a class="sourceLine" id="cb2-125" title="125">                            <span class="op">}</span> <span class="cf">else</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-126" title="126">                                tmpvalue <span class="op">+=</span> <span class="st">&#39;+&#39;</span> <span class="op">+</span> tmpnumber<span class="op">;</span></a>
<a class="sourceLine" id="cb2-127" title="127">                            <span class="op">}</span>                       </a>
<a class="sourceLine" id="cb2-128" title="128">                        <span class="op">}</span></a>
<a class="sourceLine" id="cb2-129" title="129">                        <span class="cf">if</span> (<span class="kw">this</span>.<span class="at">position</span>() <span class="op">==</span> <span class="st">&#39;b&#39;</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-130" title="130">                            <span class="cf">if</span> (variant <span class="op">==</span> <span class="st">&#39;x&#39;</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-131" title="131">                                xs <span class="op">+=</span> tmpnumber<span class="op">;</span></a>
<a class="sourceLine" id="cb2-132" title="132">                            <span class="op">}</span> <span class="cf">else</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-133" title="133">                                numbers <span class="op">-=</span> tmpnumber<span class="op">;</span></a>
<a class="sourceLine" id="cb2-134" title="134">                            <span class="op">}</span></a>
<a class="sourceLine" id="cb2-135" title="135">                            tmpstringb <span class="op">+=</span> tmpvalue<span class="op">;</span></a>
<a class="sourceLine" id="cb2-136" title="136">                        <span class="op">}</span> <span class="cf">else</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-137" title="137">                            <span class="cf">if</span> (variant <span class="op">==</span> <span class="st">&#39;x&#39;</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-138" title="138">                                xs <span class="op">-=</span> tmpnumber<span class="op">;</span></a>
<a class="sourceLine" id="cb2-139" title="139">                            <span class="op">}</span> <span class="cf">else</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-140" title="140">                                numbers <span class="op">+=</span> tmpnumber<span class="op">;</span>                               </a>
<a class="sourceLine" id="cb2-141" title="141">                            <span class="op">}</span></a>
<a class="sourceLine" id="cb2-142" title="142">                            tmpstringa <span class="op">+=</span> tmpvalue<span class="op">;</span></a>
<a class="sourceLine" id="cb2-143" title="143">                        <span class="op">}</span></a>
<a class="sourceLine" id="cb2-144" title="144">                    <span class="op">}</span></a>
<a class="sourceLine" id="cb2-145" title="145">                    <span class="kw">var</span> x <span class="op">=</span> (numbers / xs)<span class="op">;</span> <span class="co">//spočítá hodnotu výsledku</span></a>
<a class="sourceLine" id="cb2-146" title="146">                    <span class="cf">if</span> ((x <span class="op">%</span> <span class="dv">1</span> <span class="op">==</span> <span class="dv">0</span> <span class="op">||</span> x <span class="op">%</span> <span class="dv">1</span> <span class="op">==</span> <span class="fl">0.5</span> <span class="op">||</span> x <span class="op">%</span> <span class="dv">1</span> <span class="op">==</span> <span class="fl">0.25</span>) <span class="op">&amp;&amp;</span> numbers <span class="op">!=</span> <span class="dv">0</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-147" title="147">                        rationalResult <span class="op">=</span> <span class="kw">true</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-148" title="148">                        <span class="kw">this</span>.<span class="at">task</span> <span class="op">=</span> tmpstringb <span class="op">+</span> tmpstringa <span class="op">+</span> <span class="st">&#39;$$&#39;</span></a>
<a class="sourceLine" id="cb2-149" title="149">                        <span class="cf">if</span> (xs <span class="op">&lt;</span> <span class="dv">0</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-150" title="150">                            xs <span class="op">=</span> <span class="op">-</span> xs<span class="op">;</span></a>
<a class="sourceLine" id="cb2-151" title="151">                            numbers <span class="op">=</span> <span class="op">-</span>numbers<span class="op">;</span></a>
<a class="sourceLine" id="cb2-152" title="152">                        <span class="op">}</span></a>
<a class="sourceLine" id="cb2-153" title="153">                        <span class="cf">if</span> (xs <span class="op">==</span> <span class="dv">1</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-154" title="154">                            xs <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-155" title="155">                        <span class="op">}</span> </a>
<a class="sourceLine" id="cb2-156" title="156">                        <span class="cf">if</span> (xs <span class="op">==</span> <span class="dv">-1</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-157" title="157">                            xs <span class="op">=</span> <span class="st">&#39;-&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-158" title="158">                        <span class="op">}</span></a>
<a class="sourceLine" id="cb2-159" title="159">                        <span class="kw">this</span>.<span class="at">hintValue1</span> <span class="op">=</span> <span class="st">&#39;$$&#39;</span> <span class="op">+</span> xs <span class="op">+</span> <span class="st">&#39;x = &#39;</span> <span class="op">+</span> numbers <span class="op">+</span> <span class="st">&#39;$$&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-160" title="160">                        <span class="cf">break</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-161" title="161">                    <span class="op">}</span> <span class="cf">else</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb2-162" title="162">                        <span class="cf">continue</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-163" title="163">                    <span class="op">}</span></a>
<a class="sourceLine" id="cb2-164" title="164">                <span class="op">}</span></a>
<a class="sourceLine" id="cb2-165" title="165">                <span class="kw">this</span>.<span class="at">result</span> <span class="op">=</span> x<span class="op">;</span></a>
<a class="sourceLine" id="cb2-166" title="166">            <span class="op">},</span></a>
<a class="sourceLine" id="cb2-167" title="167">            <span class="at">controlX</span>(x) <span class="op">{</span> <span class="co">/*tato metoda zamezí zobrazení +1 nebo -1 před neznámou -&gt; má pouze </span></a>
<a class="sourceLine" id="cb2-168" title="168"><span class="co">                estetickou funkci*/</span></a>
<a class="sourceLine" id="cb2-169" title="169">                <span class="cf">if</span> (x <span class="op">==</span> <span class="dv">1</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-170" title="170">                    <span class="cf">return</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-171" title="171">                <span class="op">}</span> <span class="cf">else</span> <span class="cf">if</span> (x <span class="op">==</span> <span class="dv">-1</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb2-172" title="172">                    <span class="cf">return</span> <span class="st">&#39;-&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-173" title="173">                <span class="op">}</span> </a>
<a class="sourceLine" id="cb2-174" title="174">                <span class="cf">return</span> x<span class="op">;</span></a>
<a class="sourceLine" id="cb2-175" title="175">            <span class="op">},</span></a>
<a class="sourceLine" id="cb2-176" title="176">            <span class="at">check</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb2-177" title="177">                <span class="cf">if</span> (<span class="kw">this</span>.<span class="at">checked</span> <span class="op">==</span> <span class="st">&#39;right&#39;</span>) <span class="op">{</span> <span class="co">/*pokud je výsledek, který uživatel odeslal </span></a>
<a class="sourceLine" id="cb2-178" title="178"><span class="co">                    správný, a uživatel znovu stlačí klávesu enter (nebo znovu potvrdí </span></a>
<a class="sourceLine" id="cb2-179" title="179"><span class="co">                    výsledek pomocí tlačítka), ukáže uživateli další příklad*/</span></a>
<a class="sourceLine" id="cb2-180" title="180">                    <span class="kw">this</span>.<span class="at">genTask</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb2-181" title="181">                    <span class="cf">return</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-182" title="182">                <span class="op">}</span></a>
<a class="sourceLine" id="cb2-183" title="183">                <span class="cf">if</span> (<span class="kw">this</span>.<span class="at">usersResult</span> <span class="op">==</span> <span class="kw">this</span>.<span class="at">result</span>) <span class="op">{</span> <span class="co">/*zkontroluje, jestli je výsledek, </span></a>
<a class="sourceLine" id="cb2-184" title="184"><span class="co">                    který uživatel zadal, správný*/</span></a>
<a class="sourceLine" id="cb2-185" title="185"><span class="co">                    this.checked = &#39;right&#39;;</span></a>
<a class="sourceLine" id="cb2-186" title="186"><span class="co">                } else {</span></a>
<a class="sourceLine" id="cb2-187" title="187"><span class="co">                    this.checked = &#39;wrong&#39;;</span></a>
<a class="sourceLine" id="cb2-188" title="188"><span class="co">                }</span></a>
<a class="sourceLine" id="cb2-189" title="189"><span class="co">                document.getElementById(&quot;inputForm&quot;).value = &#39;&#39;;</span></a>
<a class="sourceLine" id="cb2-190" title="190"><span class="co">            }, </span></a>
<a class="sourceLine" id="cb2-191" title="191"><span class="co">        },</span></a>
<a class="sourceLine" id="cb2-192" title="192"><span class="co">        beforeMount() { //vygeneruje první zadání, když se komponent načte</span></a>
<a class="sourceLine" id="cb2-193" title="193"><span class="co">            this.genTask();</span></a>
<a class="sourceLine" id="cb2-194" title="194"><span class="co">        },</span></a>
<a class="sourceLine" id="cb2-195" title="195"><span class="co">        mounted() { //umožní komponentu PracContent.vue zavolat metodu genTask</span></a>
<a class="sourceLine" id="cb2-196" title="196"><span class="co">            bus.$on(&#39;next&#39;, this.genTask);</span></a>
<a class="sourceLine" id="cb2-197" title="197"><span class="co">        },  </span></a>
<a class="sourceLine" id="cb2-198" title="198"><span class="co">    }</span></a>
<a class="sourceLine" id="cb2-199" title="199"><span class="co">&lt;/script&gt;</span></a>
<a class="sourceLine" id="cb2-200" title="200"></a>
<a class="sourceLine" id="cb2-201" title="201"></a>
<a class="sourceLine" id="cb2-202" title="202"><span class="co">&lt;style&gt;</span></a>
<a class="sourceLine" id="cb2-203" title="203"><span class="co">    .result {</span></a>
<a class="sourceLine" id="cb2-204" title="204"><span class="co">        margin-top: 50px;</span></a>
<a class="sourceLine" id="cb2-205" title="205"><span class="co">    }</span></a>
<a class="sourceLine" id="cb2-206" title="206"><span class="co">&lt;/style&gt;</span></a></code></pre></div>			
<b-button><router-link to='/vyvojar/instalace' class='routerbutton'>Instalace</router-link></b-button>
</div>
</template>