<template>
<div>
<h2 id="vue">Vue</h2>
<p>Tato část je vkládána přímo za importy. Po jejím ukončení ukončete i script část pomocí <code>&lt;/script&gt;</code><br />
</p>
<p>Začíná takto:</p>
<div class="sourceCode" id="cb12"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb12-1" title="1">    <span class="im">export</span> <span class="im">default</span> <span class="op">{</span></a></code></pre></div>
<p>Dále můžete specifikovat tyto části:</p>
<div class="sourceCode" id="cb13"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb13-1" title="1">    <span class="at">data</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb13-2" title="2">        <span class="cf">return</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb13-3" title="3">            ...</a>
<a class="sourceLine" id="cb13-4" title="4">        <span class="op">}</span></a>
<a class="sourceLine" id="cb13-5" title="5">    <span class="op">},</span></a>
<a class="sourceLine" id="cb13-6" title="6">    components<span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb13-7" title="7">        ...</a>
<a class="sourceLine" id="cb13-8" title="8">    <span class="op">},</span></a>
<a class="sourceLine" id="cb13-9" title="9">    methods<span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb13-10" title="10">        ...</a>
<a class="sourceLine" id="cb13-11" title="11">    <span class="op">},</span></a>
<a class="sourceLine" id="cb13-12" title="12">    computed<span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb13-13" title="13">        ...</a>
<a class="sourceLine" id="cb13-14" title="14">    <span class="op">},</span>  </a></code></pre></div>
<p>Funkce těchto jednotlivých částí nyní rozeberu.<br />
</p>
<p><strong>Každou část ukončete složenou závorkou a čárkou.</strong> <code>},</code></p>
<h2 id="data">Data</h2>
<p>V části data můžete specifikovat jednotlivé proměnné. Používá se javascriptový zápis pro objekty:</p>
<div class="sourceCode" id="cb14"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb14-1" title="1">name<span class="op">*:</span> value<span class="op">**,</span></a></code></pre></div>
<p>*name = jméno proměnné<br />
**value = hodnota proměnné <em>Všechny řádky ukončujte čárkou.</em><br />
Více o javascriptových objektech naleznete <a href="https://www.w3schools.com/js/js_objects.asp" target='_blank'  class='linkintext'>zde</a>.</p>
<p>Na takto definované proměnné můžete odkazovat dvěma způsoby: 1. <code>this.var*</code> 2. <code>this.$data.var*</code><br />
*var = název proměnné<br />
Pokud na ně odkazujete z HTML části, prefix <code>this.</code> se nepřidává (ani <code>$data.</code>).</p>
<h2 id="komponenty">Komponenty</h2>
<p>V této části můžete (<em>je to nutné pro jejich používání</em>) specifikovat názvy naimportovaných komponentů. Zápis takovéto specifikace:</p>
<div class="sourceCode" id="cb15"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb15-1" title="1"><span class="st">&#39;heading&#39;</span><span class="op">:</span> Heading<span class="op">,</span></a>
<a class="sourceLine" id="cb15-2" title="2"><span class="co">//tedy:</span></a>
<a class="sourceLine" id="cb15-3" title="3"><span class="st">&#39;var-name*&#39;</span><span class="op">:</span> ImportedVarName<span class="op">**,</span></a></code></pre></div>
<p>* var-name -&gt; název komponentu, který chcete používat v HTML části<br />
př.<code>'heading'</code> používá tzv. kebab-case.</p>
<p>** ImportedVarName -&gt; Název, kterým jste ho popsal v Importu<br />
</p>
<p><em>Všechny řádky ukončujte čárkou.</em></p>
<h2 id="vyvojarskekomponenty">Vývojářské komponenty</h2>
<p>U každého komponentu zde specifikuji tzv. <a href="https://vuejs.org/v2/guide/components-props.html" target='_blank'  class='linkintext'>props</a> a funkci. Props (<em>properties</em>) jsou data, které nadřazený komponent (<em>parent</em>) posílá podřadným komponentům (<em>child</em>).</p>
<h2 id="heading.vue">Heading.vue</h2>
<p>Props:<br />
<ul><li>head (<code>String</code>)</li></ul>
<div class="sourceCode" id="cb16"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb16-1" title="1">props<span class="op">:</span> [<span class="st">&#39;head&#39;</span>]<span class="op">,</span></a></code></pre></div>
<p>Funkce: Upraví vámi nabindovaný nadpis do LATEXového tvaru a tím z něj vytvoří stylový nadpis, který vypadá jako všechno ostatní.<br />
<em>Používejte prosím značku <code>\\text {}</code> pro zachování mezer</em></p>
<h2 id="checkalerts.vue">CheckAlerts.vue</h2>
<p>Props:<br />
<ul><li>checked (<code>String</code>)</li><ul><li>možné hodnoty:</li><ul><li>‘right’</li><li>‘wrong’</li></ul></ul><li>result (převážně <code>Integer</code>, ale lze i <code>String</code>)</li></ul></p><br />
<div class="sourceCode" id="cb17"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb17-1" title="1">props<span class="op">:</span> [<span class="st">&#39;checked&#39;</span><span class="op">,</span> <span class="st">&#39;result&#39;</span>]<span class="op">,</span></a></code></pre></div>
<p>Funkce: Zobrazí rámeček s hláškou <code>Správně</code> nebo <code>Špatně</code>, která ukáže i vámi specifikovaný správný výsledek (<em>proto je nutné ho uvést</em>).</p>
<h2 id="nbsp.vue">Nbsp.vue</h2>
<p>Props:<br />
<ul><li>num (<code>Integer</code>)</li><ul><li>v intervalu <em>&lt;1; 5&gt;</em></li></ul></ul></p>
<div class="sourceCode" id="cb18"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb18-1" title="1">props<span class="op">:</span> [<span class="st">&#39;num&#39;</span>]<span class="op">,</span></a></code></pre></div>
<p>Funkce: Zobrazí vámi předepsaný počet <code>&amp;nbsp</code> (<em>non-breaking space</em>).</p>
<h2 id="hintformborder.vue">HintFormBorder.vue</h2>
<p>Props:<br />
<ul><li>value (<code>String</code>)</li><li>correctResult (<code>String</code>)</li><ul><li>správný výsledek jednotlivých inputů</li></ul><li>placeHolder (<code>String</code>)</li><ul><li>placeholder jednotlivých inputů</li></ul></ul></p>
<div class="sourceCode" id="cb19"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb19-1" title="1">props<span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb19-2" title="2">    <span class="dt">value</span><span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb19-3" title="3">        <span class="dt">type</span><span class="op">:</span> String</a>
<a class="sourceLine" id="cb19-4" title="4">    <span class="op">},</span></a>
<a class="sourceLine" id="cb19-5" title="5">    <span class="dt">correctResult</span><span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb19-6" title="6">        <span class="dt">type</span><span class="op">:</span> String</a>
<a class="sourceLine" id="cb19-7" title="7">    <span class="op">},</span></a>
<a class="sourceLine" id="cb19-8" title="8">    <span class="dt">placeHolder</span><span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb19-9" title="9">        <span class="dt">type</span><span class="op">:</span> String</a>
<a class="sourceLine" id="cb19-10" title="10">    <span class="op">},</span></a>
<a class="sourceLine" id="cb19-11" title="11"><span class="op">},</span></a></code></pre></div>
<p>Funkce: Umožní vám vytvořit několik stejných inputformů. Mají tu vlastnost, že když se rovná correctResult a input uživatele, tak jejich okraj zezelená. V jiném případě je okraj červený. Jejich class pro stylování je <code>class="inputWithBorder"</code>. Klasicky u nich funguje zapisování do proměnných pomocí <code>v-model</code>.</p>
<p>V případě touhy po vytvoření vlastního vývojářského komponentu není žádný problém. Vytvořte ho a následně pošlete pull-request. <em>Prosím, o specifikování názvu a přiložení části dokumentace v syntaxi markdown.</em></p>
<h2 id="metody">Metody</h2>
<p>V této části můžete vytvořit jednotlivé metody, které lze volat v reakci na akce uživatele. Zápis je dvojí podoby:</p>
<div class="sourceCode" id="cb20"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb20-1" title="1"><span class="at">genTask</span>() <span class="op">{</span> </a>
<a class="sourceLine" id="cb20-2" title="2">    </a>
<a class="sourceLine" id="cb20-3" title="3"><span class="dt">genTask</span><span class="op">:</span> <span class="kw">function</span>() <span class="op">{</span></a></code></pre></div>
<div class="sourceCode" id="cb21"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb21-1" title="1">    <span class="co">//po složené závorce následuje obsah metody</span></a>
<a class="sourceLine" id="cb21-2" title="2">    <span class="kw">this</span>.<span class="at">task</span> <span class="op">=</span> <span class="st">&#39;$$ 1234 $$&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb21-3" title="3">    }<span class="op">,</span></a>
<a class="sourceLine" id="cb21-4" title="4">}<span class="op">,</span></a></code></pre></div>
<p>Pokud je vaše metoda dlouhá, snažte se ji rozdělit na kratší metody. Snadno je mezi sebou můžete volat pomocí prefixu <code>this.</code> společně s názvem metody. <em>Nezapomeňte na závorky.</em> př. <code>this.number = this.randomNumber(1, 999);</code></p>
<p>Pro vytvoření dočasných proměnných používejte <code>var</code>.<br />
př. <code>var number = this.randomNumber(1,999);</code><br />
Jejich nevýhodou je, že je nelze volat z jiných metod.<br />
Nemusíte je ale specifikovat v sekci data.</p>
<p><strong>V metodách a v computed ukončujete řádky středníkem “<code>;</code>”.</strong></p>
<h2 id="užitečné-metody">Užitečné metody</h2>
<h2 id="random-number">Random Number</h2>
<p>Metoda, která vám vygeneruje náhodné číslo v uzavřeném intervalu mezi čísly v závorce:</p>
<div class="sourceCode" id="cb22"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb22-1" title="1"><span class="at">randomNumber</span>(min<span class="op">,</span> max) <span class="op">{</span><span class="co">//tato metoda generuje náhodné číslo (celé) z intervalu, který je specifikován v závorkách</span></a>
<a class="sourceLine" id="cb22-2" title="2">    <span class="cf">return</span> <span class="va">Math</span>.<span class="at">floor</span>(<span class="va">Math</span>.<span class="at">random</span>() <span class="op">*</span> (max <span class="op">-</span> min <span class="op">+</span> <span class="dv">1</span>)) <span class="op">+</span> min<span class="op">;</span></a>
<a class="sourceLine" id="cb22-3" title="3"><span class="op">},</span></a></code></pre></div>
<h2 id="check">Check</h2>
<p>Umožní vám zkontrolovat výsledek uživatele:</p>
<div class="sourceCode" id="cb23"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb23-1" title="1"><span class="at">check</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb23-2" title="2">    <span class="cf">if</span> (<span class="kw">this</span>.<span class="at">checked</span> <span class="op">==</span> <span class="st">&#39;right&#39;</span>) <span class="op">{</span> <span class="co">/*pokud je výsledek, který uživatel odeslal správný, </span></a>
<a class="sourceLine" id="cb23-3" title="3"><span class="co">        a uživatel znovu stlačí klávesu enter (nebo znovu potvrdí výsledek pomocí tlačítka), </span></a>
<a class="sourceLine" id="cb23-4" title="4"><span class="co">        ukáže uživateli další příklad*/</span></a>
<a class="sourceLine" id="cb23-5" title="5">        <span class="kw">this</span>.<span class="at">genTask</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb23-6" title="6">        <span class="cf">return</span><span class="op">;</span></a>
<a class="sourceLine" id="cb23-7" title="7">    <span class="op">}</span></a>
<a class="sourceLine" id="cb23-8" title="8">    <span class="cf">if</span> (<span class="kw">this</span>.<span class="at">usersResult</span> <span class="op">==</span> <span class="kw">this</span>.<span class="at">result</span>) <span class="op">{</span> <span class="co">/*zkontroluje, jestli je výsledek, </span></a>
<a class="sourceLine" id="cb23-9" title="9"><span class="co">        který uživatel zadal, správný*/</span></a>
<a class="sourceLine" id="cb23-10" title="10"><span class="co">        this.checked = &#39;right&#39;;</span></a>
<a class="sourceLine" id="cb23-11" title="11"><span class="co">    } else {</span></a>
<a class="sourceLine" id="cb23-12" title="12"><span class="co">        this.checked = &#39;wrong&#39;;</span></a>
<a class="sourceLine" id="cb23-13" title="13"><span class="co">    }</span></a>
<a class="sourceLine" id="cb23-14" title="14"><span class="co">    document.getElementById(&quot;inputForm&quot;).value = &#39;&#39;;</span></a>
<a class="sourceLine" id="cb23-15" title="15"><span class="co">},</span></a></code></pre></div>
<p>Pokud nepoužíváte <a href="https://github.com/kubajj/ComputatisDevelopmentProject" target='_blank'  class='linkintext'>vývojářský projekt</a>, kde je již naimplementována, je nutné ji implementovat. ## Grade Umožní vám zjistit nejvyšší řád čísla:</p>
<div class="sourceCode" id="cb24"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb24-1" title="1"><span class="at">grade</span>(givenNum) <span class="op">{</span></a>
<a class="sourceLine" id="cb24-2" title="2">    <span class="cf">return</span> <span class="va">Math</span>.<span class="at">ceil</span>(<span class="va">Math</span>.<span class="at">log10</span>(givenNum))<span class="op">;</span></a>
<a class="sourceLine" id="cb24-3" title="3"><span class="op">},</span></a></code></pre></div>
<p>(<em>Zaměnitelná s <code>*.length</code>.</em>)</p>
<h2 id="reset-all">Reset All</h2>
<p>Metoda, kterou doporučuji vytvořit, pokud potřebujete vymazat hodnotu více proměnných naráz. př. užití:</p>
<div class="sourceCode" id="cb25"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb25-1" title="1"><span class="at">resetAll</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb25-2" title="2">    <span class="kw">this</span>.<span class="at">hinted</span> <span class="op">=</span> <span class="kw">false</span><span class="op">;</span></a>
<a class="sourceLine" id="cb25-3" title="3">    <span class="kw">this</span>.<span class="at">checked</span> <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb25-4" title="4">    <span class="kw">this</span>.<span class="at">hint</span> <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb25-5" title="5">    <span class="kw">this</span>.<span class="at">comment</span> <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb25-6" title="6">    <span class="kw">this</span>.<span class="at">correctCalculation</span> <span class="op">=</span> []<span class="op">;</span></a>
<a class="sourceLine" id="cb25-7" title="7">    <span class="cf">for</span> (<span class="kw">let</span> i <span class="op">=</span> <span class="dv">0</span><span class="op">;</span> i <span class="op">&lt;</span> <span class="kw">this</span>.<span class="va">resultsInputs</span>.<span class="at">length</span><span class="op">;</span> i<span class="op">++</span>) <span class="op">{</span>   <span class="co">//vymaže hodnotu každého prvku pole             </span></a>
<a class="sourceLine" id="cb25-8" title="8">        <span class="kw">this</span>.<span class="va">$data</span>.<span class="at">resultsInputs</span>[i] <span class="op">=</span> <span class="st">&#39;&#39;</span><span class="op">;</span></a>
<a class="sourceLine" id="cb25-9" title="9">    <span class="op">}</span></a>
<a class="sourceLine" id="cb25-10" title="10">    <span class="kw">this</span>.<span class="at">specialHint</span> <span class="op">=</span> <span class="kw">false</span><span class="op">;</span></a>
<a class="sourceLine" id="cb25-11" title="11">    <span class="kw">this</span>.<span class="at">placeHolders</span> <span class="op">=</span> []<span class="op">;</span></a>
<a class="sourceLine" id="cb25-12" title="12"><span class="op">},</span></a></code></pre></div>
<h2 id="convert-number">Convert Number</h2>
<p>Umí převádět čísla mezi jednotlivými číselnými soustavami:</p>
<div class="sourceCode" id="cb26"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb26-1" title="1"><span class="at">convertNumber</span>(n<span class="op">,</span> fromBase<span class="op">,</span> toBase) <span class="op">{</span></a>
<a class="sourceLine" id="cb26-2" title="2">    <span class="cf">if</span> (fromBase <span class="op">===</span> <span class="kw">void</span> <span class="dv">0</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb26-3" title="3">      fromBase <span class="op">=</span> <span class="dv">10</span><span class="op">;</span></a>
<a class="sourceLine" id="cb26-4" title="4">    <span class="op">}</span></a>
<a class="sourceLine" id="cb26-5" title="5">    <span class="cf">if</span> (toBase <span class="op">===</span> <span class="kw">void</span> <span class="dv">0</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb26-6" title="6">       toBase <span class="op">=</span> <span class="dv">10</span><span class="op">;</span></a>
<a class="sourceLine" id="cb26-7" title="7">    <span class="op">}</span></a>
<a class="sourceLine" id="cb26-8" title="8">    <span class="cf">return</span> <span class="at">parseInt</span>(<span class="va">n</span>.<span class="at">toString</span>()<span class="op">,</span> fromBase).<span class="at">toString</span>(toBase)<span class="op">;</span></a>
<a class="sourceLine" id="cb26-9" title="9"><span class="op">},</span></a></code></pre></div>
<h2 id="computed">Computed</h2>
<p>Tato část vám umožňuje vytvářet proměnné, které budou výsledkem metody.<br />
<strong>Je nutné ukončit je příkazem <code>return</code>.</strong><br />
Zápis je stejný jako u metod, jen je v jiné části:</p>
<div class="sourceCode" id="cb27"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb27-1" title="1">computed<span class="op">:</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb27-2" title="2">    <span class="at">onePlusOne</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb27-3" title="3">        <span class="cf">return</span> <span class="dv">1</span> <span class="op">+</span> <span class="dv">1</span><span class="op">;</span></a>
<a class="sourceLine" id="cb27-4" title="4">    <span class="op">},</span></a>
<a class="sourceLine" id="cb27-5" title="5"><span class="op">},</span></a></code></pre></div>
<p>Lze z nich i klasicky volat jiné metody a také jiné computed properties.<br />
Více o <a href="https://vuejs.org/v2/guide/computed.html" target='_blank'  class='linkintext'>computed properties</a>.</p>
<h2 id="bind">Bind</h2>
<p>Bindování znamená to, že z html části odkazujeme na nějakou proměnnou z javascriptové/vue části. Děláme to pomocí dvou značek: 1. <code>v-bind:var*</code><br />
2. <code>:var*</code><br />
* značkou var je míněn název proměnné, kterou chcete bindovat</p>
<h2 id="lifecycle-hooks">Lifecycle Hooks</h2>
<p>Toto je poslední druh, který lze použít v <code>export default {}</code>. Jedná se o tyto značky:</p>
<div class="sourceCode" id="cb28"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb28-1" title="1"><span class="at">beforeCreate</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb28-2" title="2">    ...</a>
<a class="sourceLine" id="cb28-3" title="3"><span class="op">},</span></a>
<a class="sourceLine" id="cb28-4" title="4"><span class="at">created</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb28-5" title="5">    ...</a>
<a class="sourceLine" id="cb28-6" title="6"><span class="op">},</span></a>
<a class="sourceLine" id="cb28-7" title="7"><span class="at">beforeMount</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb28-8" title="8">    ...</a>
<a class="sourceLine" id="cb28-9" title="9"><span class="op">},</span></a>
<a class="sourceLine" id="cb28-10" title="10"><span class="at">mounted</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb28-11" title="11">    ...</a>
<a class="sourceLine" id="cb28-12" title="12"><span class="op">},</span></a>
<a class="sourceLine" id="cb28-13" title="13">...</a></code></pre></div>
<p>Všechny je můžete najít v tomto <a href="https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram" target='_blank'  class='linkintext'>diagramu</a>. Umožňují vám specifikovat, které metody se kdy spustí.</p>
<p>př. užití:</p>
<div class="sourceCode" id="cb29"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb29-1" title="1"><span class="co">//Následující kód prosím zaimplementujte do svého hlavního komponentu. Bez něj je nepoužitelný.</span></a>
<a class="sourceLine" id="cb29-2" title="2"><span class="at">beforeMount</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb29-3" title="3">    <span class="kw">this</span>.<span class="at">genTask</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb29-4" title="4"><span class="op">},</span></a>
<a class="sourceLine" id="cb29-5" title="5"><span class="at">mounted</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb29-6" title="6">    <span class="va">bus</span>.<span class="at">$on</span>(<span class="st">&#39;next&#39;</span><span class="op">,</span> <span class="kw">this</span>.<span class="at">genTask</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb29-7" title="7"><span class="op">},</span></a>
<a class="sourceLine" id="cb29-8" title="8"></a>
<a class="sourceLine" id="cb29-9" title="9"><span class="co">//Příklad jiného použití:</span></a>
<a class="sourceLine" id="cb29-10" title="10"><span class="at">mounted</span>() <span class="op">{</span></a>
<a class="sourceLine" id="cb29-11" title="11">    <span class="kw">this</span>.<span class="at">resultsOfUnitInputs</span> <span class="op">=</span> <span class="kw">this</span>.<span class="va">correctUnit</span>.<span class="at">map</span>(() <span class="kw">=&gt;</span> <span class="st">&#39;&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb29-12" title="12">    <span class="kw">this</span>.<span class="at">resultsOfDecInputs</span> <span class="op">=</span> <span class="kw">this</span>.<span class="va">correctDec</span>.<span class="at">map</span>(() <span class="kw">=&gt;</span> <span class="st">&#39;&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb29-13" title="13">    <span class="kw">this</span>.<span class="at">resultsOfResInputs</span> <span class="op">=</span> <span class="kw">this</span>.<span class="va">correctResultSpaces</span>.<span class="at">map</span>(() <span class="kw">=&gt;</span> <span class="st">&#39;&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb29-14" title="14"><span class="op">},</span> </a></code></pre></div>
<p><strong>Vue část se uzavírá značkou <code>&lt;/script&gt;</code>.</strong></p>	
<b-button><router-link to='/vyvojar/import' class='routerbutton'>Import</router-link></b-button>				
<b-button><router-link to='/vyvojar/css' class='routerbutton'>CSS</router-link></b-button>
</div>
</template>