<template>
<div>
<h2 id="faq">FAQ</h2>
<p><em>Nemáte nějaký videotutoriál na Vue.js?</em><br />
<a href="https://www.youtube.com/watch?v=5LYrN_cAJoA&amp;list=PL4cUxeGkcC9gQcYgjhBoeQH7wiAyZNrYa" target="_blank" class='linkintext'>The Net Ninja - Vue.js tutorial</a></p>
<p><em>Jak posílat data z child komponent na parent?</em><br />
Pomocí <a href="https://vuejs.org/v2/guide/components.html#Listening-to-Child-Components-Events" target="_blank" class='linkintext'><code>$emit</code></a>.</p>
<b-button><router-link to='/vyvojar/zverejnenikomponentu' class='routerbutton'>Zveřejnění komponentu</router-link></b-button>				
<b-button><router-link to='/vyvojar' class='routerbutton'>Zpět na začátek</router-link></b-button>	
</div>
</template>