<template>
<div>
<h2 id="html">HTML</h2>
<p>Tato část je ohraničena dvěma značkami:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb3-1" title="1"><span class="kw">&lt;template&gt;</span></a>
<a class="sourceLine" id="cb3-2" title="2">    ...</a>
<a class="sourceLine" id="cb3-3" title="3"><span class="kw">&lt;/template&gt;</span></a></code></pre></div>
<p>V aplikaci je použit <a href="https://bootstrap-vue.js.org/docs" target="_blank" class='linkintext'>bootstrap-vue</a>. Prosím, zachovejte tento framework. Nejdůležitější značky jsou:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb4-1" title="1"><span class="co">&lt;!-- v sekci Layout and Grid System* --&gt;</span></a>
<a class="sourceLine" id="cb4-2" title="2"><span class="kw">&lt;b-row&gt;</span></a>
<a class="sourceLine" id="cb4-3" title="3">    ...</a>
<a class="sourceLine" id="cb4-4" title="4"><span class="kw">&lt;/b-row&gt;</span></a>
<a class="sourceLine" id="cb4-5" title="5"></a>
<a class="sourceLine" id="cb4-6" title="6"><span class="kw">&lt;b-col</span><span class="ot"> cols=</span><span class="st">&#39;&#39;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb4-7" title="7">    ...</a>
<a class="sourceLine" id="cb4-8" title="8"><span class="kw">&lt;/b-col&gt;</span></a>
<a class="sourceLine" id="cb4-9" title="9"></a>
<a class="sourceLine" id="cb4-10" title="10"><span class="co">&lt;!-- v sekci Form** --&gt;</span></a>
<a class="sourceLine" id="cb4-11" title="11"><span class="kw">&lt;b-form-input&gt;</span></a>
<a class="sourceLine" id="cb4-12" title="12">    ...</a>
<a class="sourceLine" id="cb4-13" title="13"><span class="kw">&lt;/b-form-input&gt;</span></a></code></pre></div>
<p>*<a href="https://bootstrap-vue.js.org/docs/components/layout" target="_blank" class='linkintext'>Layout and Grid System</a><br />
**<a href="https://bootstrap-vue.js.org/docs/components/form" target="_blank" class='linkintext'>Form</a></p>
<h2 id="mathjax">Mathjax</h2>
<p>Veškeré texty, které chcete vypsat v LATEXu musíte <router-link to='/vyvojar/vue' class='linkintext'>nabindovat</router-link> do tohoto komponentu:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb5-1" title="1"><span class="kw">&lt;vue-mathjax</span><span class="ot"> :formula=</span><span class="st">&quot;var*&quot;</span><span class="kw">/&gt;</span></a></code></pre></div>
<p>*vámi zvolená proměnná - specifikujete ji v sekci <router-link to='/vyvojar/vue' class='linkintext'>data</router-link><br />
Proměnná musí být v platném LATEXovém tvaru.<br />
Začne <code>'$$'</code> a skončí <code>'$$'</code>.<br />
Všechna zpětná lomítka <code>\</code> musí být zdvojena.<br />
Příklad takovéto proměnné:</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb6-1" title="1">discriminant<span class="op">:</span> <span class="st">&#39;$$x_{1;2} = {-b </span><span class="sc">\\</span><span class="st">pm </span><span class="sc">\\</span><span class="st">sqrt{b^2-4ac} </span><span class="sc">\\</span><span class="st">over 2a}$$&#39;</span><span class="op">,</span></a></code></pre></div>
<p>Bindovala by se tedy takto:</p>
<div class="sourceCode" id="cb7"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb7-1" title="1"><span class="kw">&lt;vue-mathjax</span><span class="ot"> :formula=</span><span class="st">&quot;discriminant&quot;</span><span class="kw">/&gt;</span></a></code></pre></div>
<p>Můžete ale také používat i tzv. <router-link to='/vyvojar/vue' class='linkintext'>vývojářské komponenty</router-link>:</p>
<div class="sourceCode" id="cb8"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb8-1" title="1"><span class="kw">&lt;nbsp&gt;</span></a>
<a class="sourceLine" id="cb8-2" title="2">    ...</a>
<a class="sourceLine" id="cb8-3" title="3"><span class="kw">&lt;/nbsp&gt;</span></a>
<a class="sourceLine" id="cb8-4" title="4"></a>
<a class="sourceLine" id="cb8-5" title="5"><span class="kw">&lt;hint-form&gt;</span></a>
<a class="sourceLine" id="cb8-6" title="6">    ...</a>
<a class="sourceLine" id="cb8-7" title="7"><span class="kw">&lt;/hint-form&gt;</span></a>
<a class="sourceLine" id="cb8-8" title="8"></a>
<a class="sourceLine" id="cb8-9" title="9"><span class="co">&lt;!-- A v neposlední řadě velmi důležitý komponent, který sjednocuje nadpisy jednotlivých příkladů. --&gt;</span></a>
<a class="sourceLine" id="cb8-10" title="10"><span class="kw">&lt;heading&gt;</span></a>
<a class="sourceLine" id="cb8-11" title="11">    ...</a>
<a class="sourceLine" id="cb8-12" title="12"><span class="kw">&lt;/heading&gt;</span></a></code></pre></div>
<p><strong>Pozor! Je důležité všechny vývojářské komponenty správně naimportovat (bude vysvětleno následovně).</strong></p>	
<b-button><router-link to='/vyvojar/instalace' class='routerbutton'>Instalace</router-link></b-button>				
<b-button><router-link to='/vyvojar/import' class='routerbutton'>Import</router-link></b-button>
</div>
</template>