<template>
<div>
<h2 id="import">Import</h2>
<p>Část komponentu, která mu říká, které další komponenty a soubory si musí naimportovat je vkládána přímo za tuto značku:</p>
<div class="sourceCode" id="cb9"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb9-1" title="1"><span class="kw">&lt;script&gt;</span></a></code></pre></div>
<p>Pokud nepoužíváte <a href="https://github.com/kubajj/ComputatisDevelopmentProject" class='linkintext'>vývojářský projekt</a>, tak naimportujte následující:</p>
<div class="sourceCode" id="cb10"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb10-1" title="1">    <span class="im">import</span> <span class="op">{</span> bus <span class="op">}</span> <span class="im">from</span> <span class="st">&#39;./../../../main.js&#39;</span></a>
<a class="sourceLine" id="cb10-2" title="2">    <span class="im">import</span> <span class="op">{</span> VueMathjax <span class="op">}</span> <span class="im">from</span> <span class="st">&#39;vue-mathjax&#39;</span></a>
<a class="sourceLine" id="cb10-3" title="3">    <span class="im">import</span> Heading <span class="im">from</span> <span class="st">&#39;./../DevelopComponents/Heading.vue&#39;</span></a>
<a class="sourceLine" id="cb10-4" title="4">    <span class="im">import</span> CheckAlerts <span class="im">from</span> <span class="st">&#39;./../DevelopComponents/CheckAlerts.vue&#39;</span></a></code></pre></div>
<p>Jsou to soubory nezbytné pro správný chod příkladu.</p>
<p>Obecně import probíhá následovně:</p>
<div class="sourceCode" id="cb11"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb11-1" title="1"><span class="im">import</span> name<span class="op">*</span> <span class="im">from</span> <span class="st">&#39;path**&#39;</span></a></code></pre></div>
<p>* název, který budete používat - <em>ideálně stejný nebo podobný názvu souboru, používá se CamelCase</em><br />
**relativní cesta k souboru</p>	
<b-button><router-link to='/vyvojar/html' class='routerbutton'>HTML</router-link></b-button>				
<b-button><router-link to='/vyvojar/vue' class='routerbutton'>Vue</router-link></b-button>
</div>
</template>