<template>
<div>	
<h2 id="instalace">Instalace</h2>
<div class="sourceCode" id="cb1"><pre class="sourceCode bash"><code class="sourceCode bash"><a class="sourceLine" id="cb1-1" title="1"><span class="co"># git clone této složky</span></a>
<a class="sourceLine" id="cb1-2" title="2"><span class="fu">git</span> clone https://github.com/kubajj/ComputatisDevelopmentProject.git</a>
<a class="sourceLine" id="cb1-3" title="3"></a>
<a class="sourceLine" id="cb1-4" title="4"><span class="co"># přesun do složky</span></a>
<a class="sourceLine" id="cb1-5" title="5"><span class="bu">cd</span> Computatis</a>
<a class="sourceLine" id="cb1-6" title="6"></a>
<a class="sourceLine" id="cb1-7" title="7"><span class="co"># instalace projektu</span></a>
<a class="sourceLine" id="cb1-8" title="8"><span class="ex">npm</span> install</a>
<a class="sourceLine" id="cb1-9" title="9"></a>
<a class="sourceLine" id="cb1-10" title="10"><span class="co"># spuštění lokálně</span></a>
<a class="sourceLine" id="cb1-11" title="11"><span class="ex">npm</span> run dev</a></code></pre></div>
<b-button><router-link to='/vyvojar' class='routerbutton'>Zpět na začátek</router-link></b-button>				
<b-button><router-link to='/vyvojar/html' class='routerbutton'>HTML</router-link></b-button>
</div>
</template>