<template>
<div>
<h2 id="zverejnenivasehokomponentu">Zveřejnění vašeho komponentu</h2>
<p>Vytvořte pull-request, ve kterém popíšete vámi vytvořený příklad a pojmenujete ho.<br />
Název i kód musí být zkontrolován, proto prosím o stručný popis toho, co váš kód dělá.<br />
Následně bude zařazen do příslušné tématické složky a zveřejněn.</p>
<b-button><router-link to='/vyvojar/css' class='routerbutton'>CSS</router-link></b-button>				
<b-button><router-link to='/vyvojar/faq' class='routerbutton'>FAQ</router-link></b-button>
</div>
</template>