<template>
  <div id="app">
    <b-navbar class='navigationbar'>
      <b-navbar-nav>
        <b-nav-item><router-link to='/' class='link'>Home</router-link></b-nav-item>
        <b-nav-item><router-link to='/uzivatel' class='link'>Uživatelská dokumentace</router-link></b-nav-item>
        <b-nav-item><router-link to='/vyvojar' class='link'>Vývojářská dokumentace</router-link></b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <router-view class='bodypart'></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
.navigationbar {
  border: 2px solid black;
  text-decoration: none;
  color: white;
}
.bodypart {
  margin-left: 15px;
  margin-top: 15px;
}
.link {
  color: black;
}
.linkintext {
  color: black;
  font-weight: bold;
  text-decoration: underline; 
}
.innerbody {
  max-width: 50%;
}
.box {
  margin: 0 5% 0 5%;
  background-color: white;
  border: 1px solid black;
  padding-left: 5%;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
  background-color: white;
  border-color: black;
  color: black;
}
</style>
